/*
Desktop menu
*/
@media (hover: hover) {
    /*
    Sidebar 
    hidden to the left
    */
    .navBar {
        background-color: green;
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -23%;
        transition: 0.7s;
        display: flex;
        flex-direction: column;
    }
    /*fade in on hover*/
    .navBar:hover { 
        left: 0%;
    }
    .menuElement{
        background-color: green;
        color: white;
        padding-left: 10px;
        padding: 2px;
        font-size: 5vh;
        text-decoration: none;
    }
    .menuElement:hover {
        background-color: lightgrey;
        color: white;
    }
}

/*Mobile menu*/
@media (hover:none) {
    /*top bar*/
    .navBar {
        width: 100%;
        height: 10%;
        background-color: green;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }    
    .menuElement {
        background-color: green;
        text-align: center;
        color: white;
        padding: 10px;
        font-size: 3vh;
        text-decoration: none;
    } 
}
/*
little bit of margin on all sides
just looks nicer and the sidebar doesn't cover the text
*/
main {
    margin: 5%;
}
/*
light gray background
*/
body {
    background-color: rgb(200, 200, 200);
    margin: 0px;
    height: 100%;  
}
/*
text properties for the sample text
*/
.text {
    text-align: center;
    font-size: large;
}